<template>
  <v-layout>
    <v-flex xs6 sm5 md4 :style="{
      'height': 'calc(100vh - 64px - 36px)',
      'max-height': 'calc(100vh - 64px - 36px)',
      'overflow': 'auto'
    }">
    <MCAddress
      :address="from"
      label="From"
      @select="selectedAddress = from"
    />
    <MCAddress
      :address="to"
      label="To"
      @select="selectedAddress = to"
    />
    <MCAddressForm
      :address="selectedAddress"
      v-if="selectedAddress !== ''"
    />
    <v-btn @click="fetchNominatimResult">
      Fetch 'toulouse'
    </v-btn>
    <ul>
      <li
        v-for="result in results"
        :key="result.osm_id"
        @mouseover="updateLatLon(result)"
        :style="{'margin-bottom': '1rem'}"
      >
        {{result.display_name}}
      </li>
    </ul>
  </v-flex>
  <v-flex xs6 sm7 md8>

    <Map
      :lat="lat"
      :lon="lon"
      :geojson="overpassData"
      @bbox-change="fecthOverpassData"
    />
    </v-flex>
  </v-layout>
</template>

<script>
// @ is an alias to /src
import axios from 'axios'
import osmtogeojson from 'osmtogeojson'

import MCAddress from '@/components/MCAddress.vue'
import MCAddressForm from '@/components/MCAddressForm.vue'
import Map from '@/components/Map.vue'
import myStore from '@/store/myStore'

const OVERPASS_URL = 'http://overpass-api.de/api/interpreter?'
const DEFAULT_BBOX = '43.54506428956427,1.3108062744140625,43.663525432098275,1.571388244628906'

function getQuery (bbox = DEFAULT_BBOX) {
  let bboxString = ''
  if (bbox === DEFAULT_BBOX) {
    bboxString = DEFAULT_BBOX
  } else {
    bboxString = `
      ${bbox.getSouth()},${bbox.getWest()},
      ${bbox.getNorth()},${bbox.getEast()}
    `
  }
  return `data=[out:xml];(way[%22leisure%22=%22park%22](${bboxString}););out%20body;%3E;out%20skel%20qt;`
}

export default {
  name: 'home',
  components: {
    MCAddress,
    MCAddressForm,
    Map
  },
  data () {
    return myStore
  },
  methods: {
    async fetchNominatimResult (search = 'toulouse') {
      const response = await axios.get(
        'http://nominatim.openstreetmap.org/search/' +
        'toulouse' +
        '?format=json'
      )
      this.results = response.data
    },
    async fecthOverpassData (bbox) {
      const response = await axios.get(OVERPASS_URL + getQuery(bbox))
      this.overpassData = osmtogeojson(new DOMParser().parseFromString(response.data, 'text/xml'))
    },
    updateLatLon (result) {
      this.lat = result.lat
      this.lon = result.lon
      this.currentDisplayName = result.display_name
    }
  }
}
</script>
