<template>
  <v-card class="mb-2">
    <v-card-title>
      {{label}}
      <v-btn text color="orange" @click="$emit('select', address)">Edit</v-btn>
    </v-card-title>
    <v-card-text>
        Road : {{ address.road }}<br/>
        Zip Code : {{ address.zipCode }}<br/>
        City : {{ address.city | uppercase }}<br/>
        <span v-if="address.complement">Complement: {{ address.complement }}<br/></span>
        <span v-if="address.country">Country: {{ address.country }}<br/></span>
        <span v-if="address.state">State: {{ address.state | uppercase }}<br/></span>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'mc-address',
  props: {
    address: {
      type: Object,
      required: true
    },
    label: {
      type: String,
      default: 'Unknown'
    }
  },
  methods: {
    editAddress () {
      this.$emit('select', 'toto', 'tata', 'titi')
    }
  }
}
</script>
